# Copier ce fichier en .env pour les variables applicatives locales
API_KEY=changeme
API_BASE_URL=http://api:8000

# Variables Azure CLI pour le déploiement, si tu préfères les exporter dans le shell
# AZURE_SUBSCRIPTION_ID=
# RESOURCE_GROUP=
# CONTAINERAPPS_ENVIRONMENT=
# ACR_NAME=
# CONTAINER_APP_NAME=
# IMAGE_NAME=devops-monitor-api
